<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/dlr16.png">
         <run
               class="de.dlr.application.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="PARADISE Perspective"
            class="de.dlr.application.rcp.Perspective"
            id="com.example.test">
      </perspective>
   </extension>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/newprj_wiz.gif"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  icon="icons/open_file.gif"
                  label="Open">
            </command>
            <separator
                  name="de.dlr.application.file.save.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/save_edit.gif"
                  label="Save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="icons/saveas_edit.gif"
                  label="Save As...">
            </command>
            <separator
                  name="de.dlr.application.file.exit.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               id="org.eclipse.ui.edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="de.dlr.application.edit.hist.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window">
            <menu
                  label="Show View">
               <dynamic
                     class="de.dlr.application.rcp.ShowViewContributionItem"
                     id="de.dlr.application.rcp.ShowView">
               </dynamic>
            </menu>
            <command
                  commandId="de.dlr.application.rcp.perspective.reset"
                  style="push">
            </command>
            <separator
                  name="de.dlr.application.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/dlr16.png"
                  label="About"
                  style="push">
            </command>
            <command
                  commandId="de.dlr.application.rcp.p2.update"
                  label="Check for Updates"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.dlr.ft.premise.rcp.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/dlr16.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.dlr.application.rcp.category.paradise"
            name="PARADISE">
      </category>
      <view
            category="de.dlr.application.rcp.category.paradise"
            class="de.dlr.application.rcp.ProblemsView"
            icon="icons/warnings/problems_view.gif"
            id="de.dlr.application.rcp.ProblemsView"
            name="Problems"
            restorable="true">
      </view>
      <view
            category="de.dlr.application.rcp.category.paradise"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/filenav_nav.gif"
            id="premise.rcp.navigator"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="premise.rcp.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="premise.rcp.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <!-- 
            	We're using a part of JDT here, which is not ideal, but unavoidable if we don't want to implement 
            	the whole shebang ourselves, which we don't.
            	See http://www.eclipse.org/forums/index.php/t/228545/ and eclipse bug 264404 for details.
            -->
            <contentExtension
                  pattern="org.eclipse.jdt.java.ui.javaContent">
            </contentExtension>
            <contentExtension
                  pattern="de.dlr.application.rcp.filterSyntheticCalculationProject">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Hides the internal __SyntheticCalculationProject"
            id="de.dlr.application.rcp.filterSyntheticCalculationProject"
            name="Filter __SyntheticCalculationProject"
            visibleInUI="true">
         <filterExpression>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.name"
                     value="__SyntheticCalculationProject">
               </test>
            </adapt>
         </filterExpression>
      </commonFilter>
   </extension>
   
	
	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerContentGenerator
		id="de.dlr.application.rcp.problemsGenerator"
		name="ApplicationProblemMarkerGenerator">
			<markerTypeReference id="org.eclipse.core.resources.problemmarker"/>
			<markerFieldReference id="de.dlr.application.rcp.problemField"/>
			<markerFieldReference id="org.eclipse.ui.ide.resourceField"/>
			<markerFieldConfiguration
				id="de.dlr.application.rcp.problemsMarkerFieldConfiguration"
				name="Show selection and children"
				scope="ON_SELECTED_AND_CHILDREN">
			</markerFieldConfiguration>
		</markerContentGenerator>
		<markerField
			class="de.dlr.application.rcp.ProblemField"
			id="de.dlr.application.rcp.problemField"
			name="Problem">
		</markerField>
	</extension>
	
  <extension
       id="full"
       point="org.eclipse.core.runtime.products">
    <product
          application="de.dlr.application.rcp.application"
          name="PARADISE">
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>
       <property
             name="startupProgressRect"
             value="20,275,430,15">
       </property>
       <property
             name="startupMessageRect"
             value="20,260,430,15">
       </property>
       <property
             name="Paradise"
             value="de.dlr.paradise">
       </property>
       <property
             name="aboutImage"
             value="DLR_About.png">
       </property>
       <property
             name="windowImages"
             value="icons/dlr16white.png,icons/dlr32.png,icons/dlr.png">
       </property>
       <property
             name="appName"
             value="PARADISE">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
  <extension
        point="org.eclipse.ui.activities">
     <activity
           id="de.dlr.application.rcp.activityHideVestiges"
           name="hideVestiges">
        <enabledWhen>
           <iterate
                 ifEmpty="false">
           </iterate>
        </enabledWhen>
     </activity>
     <activityPatternBinding
           activityId="de.dlr.application.rcp.activityHideVestiges"
           pattern="org\.eclipse\.jdt\..*/.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.dlr.application.rcp.activityHideVestiges"
           pattern="org\.eclipse\.debug\..*/.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.dlr.application.rcp.activityHideVestiges"
           pattern="org\.eclipse\.team\..*/.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.dlr.application.rcp.activityHideVestiges"
           pattern="org\.eclipse\.emf\..*/.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="de.dlr.application.rcp.activityHideVestiges"
           pattern="org\.eclipse\.ui\..*/org\.eclipse\.ui\.preferencePages\.Workbench">
     </activityPatternBinding>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="de.dlr.application.rcp.p2.UpdateHandler"
           commandId="de.dlr.application.rcp.p2.update">
     </handler>
     <handler
           class="org.eclipse.ui.internal.handlers.ResetPerspectiveHandler"
           commandId="de.dlr.application.rcp.perspective.reset">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="de.dlr.application.rcp.p2.update"
           name="Check for Updates">
     </command>
     <command
           id="de.dlr.application.rcp.perspective.reset"
           name="Reset Perspective...">
     </command>
  </extension>
</plugin>
