<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.dlr.aspect.graphml.ui.CreateGraphMLHandler"
            id="de.dlr.aspect.graphml.ui.GenerateGraphMLCommand"
            name="Edit as GraphML">
      </command>
      <command
            defaultHandler="de.dlr.aspect.graphml.ui.MergeGraphMLHandler"
            id="de.dlr.aspect.graphml.ui.MergeGraphMLCommand"
            name="Merge GraphML">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:premise.rcp.navigator">
         <command
               commandId="de.dlr.aspect.graphml.ui.GenerateGraphMLCommand"
               icon="icons/create.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.dlr.aspect.graphml.ui.expressions.IsPremiseOrUseCase">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="de.dlr.aspect.graphml.ui.MergeGraphMLCommand"
               icon="icons/merge.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.dlr.aspect.graphml.ui.expressions.IsPremiseOrUseCase">
                  </reference>
                  <test
                        forcePluginActivation="true"
                        property="de.dlr.aspect.graphml.ui.graphMLPropertyTester.exportedFileExists"
                        value="true">
                  </test></and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.dlr.aspect.graphml.ui.expressions.IsPremiseOrUseCase">
         <and>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="premise">
                  </test>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="usecase">
                  </test>
               </or>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.dlr.aspect.graphml.ui.GraphMLPropertyTester"
            id="de.dlr.aspect.graphml.ui.graphMLPropertyTester"
            namespace="de.dlr.aspect.graphml.ui.graphMLPropertyTester"
            properties="exportedFileExists"
            type="java.util.List">
      </propertyTester>
   </extension>

</plugin>
