<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.dlr.premise.balancingSourceParameterProportionalityAnalyzer">
      <client
            class="de.dlr.calc.engine.dsl.tools.BalancingSourceParameterProportionalityAnalyzer">
      </client>
   </extension>

</plugin>
