/**
 * Copyright (c)
 * DLR Institute of Flight Systems, Braunschweig, Germany
 * All rights reserved
 *
 * @version SVN: $Id$
 */
package de.dlr.testsuite;

import org.junit.runner.RunWith;
import org.junit.runners.Suite.SuiteClasses;

import de.dlr.testsuite.runner.RandomSuite;

@RunWith(RandomSuite.class)
@SuiteClasses({
@InsertClasses
})

public class AllTestsRandom {

}
